// ------------------------------------------------
//  FONT-FACE MIXIN
// ------------------------------------------------

	$font-dir: '../fonts/';

	@mixin declare-font-face($font-family, $file-path, $weight: normal, $style: normal ) {
		@font-face {
			font-family: $font-family;
			src: url('#{$font-dir}#{$file-path}.eot');
			src: url('#{$font-dir}#{$file-path}.eot?#iefix') format('embedded-opentype'),
				 url('#{$font-dir}#{$file-path}.woff') format('woff'),
				 url('#{$font-dir}#{$file-path}.ttf') format('truetype');
			font-weight: $weight;
			font-style: $style;
		}
	}

// url('#{$font-dir}#{$file-path}.svg##{$font-family}') format('svg')