
// -------------------------------------------------------------------
// ESN COLORS
// -------------------------------------------------------------------

$esn-blue: #00aef0;
$esn-pink: #ed008c;
$esn-orange: #f57b20;
$esn-green: #7ac143;
$light-gray:  #cccccc;
$medium-gray: #aaaaaa;
$gray:        #999999;

// -------------------------------------------------------------------
// FONT SIZES
// -------------------------------------------------------------------

$base-font-size:   16px; // The font size set on the root html element.
$base-line-height: 22px; // This line-height determines the basic unit of vertical rhythm.

$h1-font-size: 3    * $base-font-size;
$h2-font-size: 1.5  * $base-font-size;
$h3-font-size: 1.17 * $base-font-size;
$h4-font-size: 1    * $base-font-size;
$h5-font-size: 0.83 * $base-font-size;
$h6-font-size: 0.75 * $base-font-size;

// The amount lists, blockquotes and comments are indented.
$indent-amount: 30px;





// -------------------------------------------------------------------
// FONT MIXIN
// -------------------------------------------------------------------

$font-dir: '../fonts/';

@mixin font-face($font-family, $file-path, $weight: normal, $style: normal ) {
		@font-face {
			font-family: "#{$font-family}";
			src: url("#{$font-dir}#{$file-path}.eot?") format("eot"),
				 url("#{$font-dir}#{$file-path}.woff") format("woff"),
				 url("#{$font-dir}#{$file-path}.ttf") format("truetype"),
				 url("#{$font-dir}#{$file-path}.svg##{$file-path}") format("svg");
			font-weight: $weight;
			font-style: $style;
		}
	}





// -------------------------------------------------------------------
// FONT IMPORTS
// -------------------------------------------------------------------

@include font-face('Roboto', 'robotoregular');
@include font-face('Roboto', 'robotobold', bold);
@include font-face('Roboto', 'robotoitalic', normal, italic);
@include font-face('Roboto', 'robotobolditalic', bold, italic);
@include font-face('Roboto Light', 'robotolight');
@include font-face('Roboto Light', 'robotomedium', bold);
@include font-face('Roboto Light', 'robotolightitalic', normal, italic);
@include font-face('Roboto Light', 'robotomediumitalic', bold, italic);
@include font-face('Roboto Thin', 'robotothin');
@include font-face('Roboto Thin', 'robotomedium', bold);
@include font-face('Roboto Thin', 'robotothinitalic', normal, italic);
@include font-face('Roboto Thin', 'robotomediumitalic', bold, italic);
@include font-face('Roboto Condensed', 'robotocondensed');
@include font-face('Roboto Condensed', 'robotoboldcondensed', bold);
@include font-face('Open Sans', 'opensansregular');
@include font-face('Open Sans Light', 'opensanslight');




// -------------------------------------------------------------------
//  STACKS
// -------------------------------------------------------------------

$times-new-roman: "Times New Roman", Times, Georgia, "DejaVu Serif", serif;
$times:           Times, "Times New Roman", Georgia, "DejaVu Serif", serif;
$georgia:         Georgia, "Times New Roman", "DejaVu Serif", serif;
$verdana:         Verdana, Tahoma, "DejaVu Sans", sans-serif;
$tahoma:          Tahoma, Verdana, "DejaVu Sans", sans-serif;
$helvetica:       Helvetica, Arial, "Nimbus Sans L", sans-serif;
$arial:           Arial, Helvetica, "Nimbus Sans L", sans-serif;
$courier:         "Consolas", "Courier New", "DejaVu Sans Mono", monospace, sans-serif;





// -------------------------------------------------------------------
//  FONT VARIABLES
// -------------------------------------------------------------------

$base-font-family: "Open Sans Light"; // The font family set on the html element.
$font-title:       "Roboto Thin", "Open Sans Light", "Roboto Condensed";
$font-body:        "Open Sans Light";
$font-monospace:   $courier;

$font-main-menu:   "Roboto Condensed";
$font-menu-user:   "Roboto Condensed";

$font-header:      "Open Sans Light", "Roboto Condensed";
$font-subheader:   "Open Sans Light", "Roboto Condensed";

$font-button:      "Roboto";

$font-code:        $courier;




// -------------------------------------------------------------------
//  MIXINS
// -------------------------------------------------------------------

@mixin header {
	font-family: $font-header;
	font-size: 34px;
	margin-bottom: 24px;
	font-weight: normal;
	line-height: normal;
	color: #666;
}

@mixin subheader {
	font-family: $font-subheader;
	font-size: 24px;
	margin-bottom: 20px;
}

@mixin label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
	color: #666;
	font-size: 12px;
}

@mixin button {
	margin-right: 10px;
	padding: 10px 25px 10px 25px;
	font-family: 'Roboto';
	font-weight: bold;
	font-size: 18px;
	text-transform: uppercase;
	color: #fff;
	background: #e83167;
	border: none;
	border-radius: 6px;
	box-shadow:
		0 4px 2px rgba(0,0,0,0.08),
		inset 0 -5px 0 rgba(0,0,0,0.08);
}





// ------------------------------------------------
// BREAKPOINTS
// ------------------------------------------------
	
$break-mobile-portrait:    320px;
$break-mobile-landscape:   480px;
$break-tablet-portrait:    600px;
$break-tablet-landscape:   768px;
$break-desktop:            968px;

@mixin breakpoint($media) {

	@if $media == mobile-portrait {
		@media only screen and (max-width: $break-mobile-portrait) { @content; }
	}
	@else if $media == mobile-landscape {
		@media only screen and (min-width: $break-mobile-landscape - 1) { @content; }
	}
	@else if $media == tablet-portrait {
		@media only screen and (min-width: $break-tablet-portrait - 1) { @content; }
	}
	@else if $media == tablet-landscape {
		@media only screen and (min-width: $break-tablet-landscape - 1) { @content; }
	}
	@else if $media == desktop {
		@media only screen and (min-width: $break-desktop - 1) { @content; }
	}
}





// ------------------------------------------------
// LIBRARIES
// ------------------------------------------------

@import "compass/support";  // Add Compass' IE and vendor prefix support variables.
@import "compass/utilities/general/clearfix"; // Better than Drupal's clearfix.
@import "compass/utilities/sprites"; // See http://compass-style.org/help/tutorials/spriting/
@import "compass/css3";     // Use one CSS3 mixin instead of multiple vendor prefixes.
@import "compass/typography/vertical_rhythm"; // Helps set up a vertical rhythm.
@import "zen";              // Add the Zen Grids responsive layout mixins.
//@import "custom";           // Import our custom mixins last.
