/* 
--------------------------------------------------- */

#console {
	margin-bottom: 30px;

	.messages {
		font-size: 13px;
		line-height: normal;
		border: none;
		box-shadow: inset 0 -3px 0 rgba(0,0,0,0.03);
		border-radius: 5px;
	}

	.error {

		p.error {
			color: #8c2e0b;
		}
	}

	p.error {
		font-family: $font-code;
		font-weight: bold;
	}
}

/* 
--------------------------------------------------- */



/* 
--------------------------------------------------- */