/* 
--------------------------------------------------- */

#header {
	padding: 15px 25px;
	background: #58504d url('../img/header_bg_2.png') left top;
	border-radius: 10px 10px 0 0;
}

/* 
--------------------------------------------------- */

/* 
--------------------------------------------------- */