/* --------------------------------------------------------------
EXAMPLE.css
Lorem ipsum dolor
-------------------------------------------------------------- */


/* 
-------------------------------------------------------------- */




/* 
-------------------------------------------------------------- */
	
$dev-isolate: false;
$dev-isolate-container-list: "#header, #title, #top, #spotlight, #content, #middle, #bottom, #footer";
$dev-isolate-container: "#header";

@if $dev-isolate == true {
	
	#{$dev-isolate-container-list} {
		display: none;
	}

	#{$dev-isolate-container} {
		display: block;
	}

}

/* 
-------------------------------------------------------------- */

.field-name-field-image {
	
	img {
		display: block;
	}
}

/* 
-------------------------------------------------------------- */

a.ckeditor_links {
	display: inline-block;
	margin-top: 0;
	background: #e5e5e5;
	color: #fff;
	padding: 3px 10px;
	line-height: normal;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 11px;

	&:hover {
		text-decoration: none;
		background: $esn-blue; 
	}
}


/* 
-------------------------------------------------------------- */



/* 
-------------------------------------------------------------- */


/* 
-------------------------------------------------------------- */


/* 
-------------------------------------------------------------- */


/* 
-------------------------------------------------------------- */


/* 
-------------------------------------------------------------- */

