// ------------------------------------------------
//  ESN COLORS
// ------------------------------------------------

	$esn-dark-blue: #2e3192;
	$esn-blue:      #00aef0;
	$esn-orange:    #f57b20;
	$esn-pink:      #ed008c;
	$esn-green:     #7ac143;
	$light-gray:    #cccccc;
	$medium-gray:   #aaaaaa;
	$gray:          #999999;





