// ------------------------------------------------
//  HEADER HEIGHT
// ------------------------------------------------

	$header-height-s: 70px;
	$header-height-m: 90px;
	$header-height-l: 110px;





// ------------------------------------------------
//  NAVIGATION SETTINGS
// ------------------------------------------------
	
	// TABLET

	$tablet-nav-height-s:     24px;
	$tablet-nav-height-m:     28px;
	$tablet-nav-height-l:     32px;

	// DESKTOP

	$desktop-nav-height-s:    30px;
	$desktop-nav-height-m:    34px;
	$desktop-nav-height-l:    38px;


// ------------------------------------------------
//  OTHER
// ------------------------------------------------

	$radius: 3px;


// ------------------------------------------------
//  OTHER
// ------------------------------------------------

	// INDENTATION

	$indent-amount: 30px;  // The amount lists, blockquotes and comments are indented.




