/* --------------------------------------------------------------
EXAMPLE.css
Lorem ipsum dolor
-------------------------------------------------------------- */




/* 
-------------------------------------------------------------- */

article header {
	.avatar {
		position: absolute;
		right: 20px;

		img {
			border-radius: 100%;
			width: 60px;
			height: 60px;
		}
	}

	.submitted {

		margin-bottom: 30px;

		.user {
			display: inline-block;
			margin-right: 20px;
		}

		.date {
			display: inline-block;
		}
	}
}

/* 
-------------------------------------------------------------- */


/* 
-------------------------------------------------------------- */


/* 
-------------------------------------------------------------- */


/* 
-------------------------------------------------------------- */


/* 
-------------------------------------------------------------- */


/* 
-------------------------------------------------------------- */


/* 
-------------------------------------------------------------- */


/* 
-------------------------------------------------------------- */


/* 
-------------------------------------------------------------- */


