/* --------------------------------------------------------------
EXAMPLE.css
Lorem ipsum dolor
-------------------------------------------------------------- */




/* 
-------------------------------------------------------------- */
html {
	height:100%;
}

body {
	background: #fff;
	font-family: $base-font-family;
	font-weight: 100;
	color: #666;
	
	height:100%;
}

#st-container, #page, #page-inner {
  min-height:100% !important;
  height: 100%;
  position:relative;
}

#main {
  min-height: 100%;
  height: auto !important;
  height: 100%;
	position: relative;
}

/* 
-------------------------------------------------------------- */

#content {

	#content-block {
		padding: 20px 20px 40px 20px;
	}
}




/* 
-------------------------------------------------------------- */


/* 
-------------------------------------------------------------- */


/* 
-------------------------------------------------------------- */


/* 
-------------------------------------------------------------- */


/* 
-------------------------------------------------------------- */


/* 
-------------------------------------------------------------- */


/* 
-------------------------------------------------------------- */


/* 
-------------------------------------------------------------- */


