/* --------------------------------------------------------------
EXAMPLE.css
Lorem ipsum dolor
-------------------------------------------------------------- */




/* 
-------------------------------------------------------------- */


/* 
-------------------------------------------------------------- */

.group-details {
	clear: both;
	font-size: 12px;

	.field {

		border-bottom: 1px dotted #ddd;
		padding: 5px 0;

		&:last-child { border: none; }

		.field-label {
			width: 120px;
			font-family: $roboto-condensed;
			font-weight: normal;
			text-transform: uppercase;
		}

		.field-items {

			.field-item {
				ul {
					margin: 0;
					padding-left: 16px;
					list-style: square;
				}

				li {

				}
			}
		}
	}
}

/* 
-------------------------------------------------------------- */

.field-name-field-image-gallery {

	margin-top: 30px;
	
	margin-bottom: 20px;

	.field-item {

		display: inline-block;
		margin-right: 4px;
		margin-bottom: -1px;

		a {
			display: block;
		}

		img {
			display: block;
		}

		&:hover {
			opacity: 0.7;
		}
	}

}

/* 
-------------------------------------------------------------- */

.field-name-field-faq {
	clear: both;
	margin-top: 20px;
	background: #eee;
	padding: 15px 20px;

	.field-label {
		font-family: $font-block-header;
		
		font-size: 18px;
		color: #666;
	}

	&>.field-items {
		
		font-size: 13px;
		line-height: 20px;

		&>.field-item {
			margin-top: 10px;
		}

		.field-name-field-faq-question {
			font-weight: bold;
			font-style: italic;

		}

		.field-name-field-faq-answer {
			color: #bbb;
			font-style: italic;
		}
	}
}

.field-name-submitted-by {
	.field-item {
		font-style: italic;
	}
}

/* 
-------------------------------------------------------------- */
.faq-list-item {
	.faq-question{
		margin-top:18px;
		margin-bottom:4px;
	}

	.faq-answer{
		font-style:italic;
	}
}

.faq-list-item-collapsible {
	.faq-question {
		cursor:help;
	}

	.faq-answer-expanded{
		display:block;
	}
}


/* 
-------------------------------------------------------------- */


/* 
-------------------------------------------------------------- */


/* 
-------------------------------------------------------------- */


/* 
-------------------------------------------------------------- */


