.block-esn-satellite-socialmedia {
	ul {
		display: inline-block;
		list-style: none;
		margin: 0;
		padding: 0;

		li {

			margin: 0;
			padding: 0;
			display: inline;

			a {
				display: inline-block;
			}
		}
	}
}