#block-satellite-base-login {

	a {
		display: inline-block;
		width: 30px;
		height: 30px;
		background-image: url('../img/icon_user.png');
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 20px;
		text-indent: -9999px;
		opacity: 0.2;

		&:hover {
			opacity: 0.6;
		}

		#header & {
			width: 20px;
		}

		#footer & {
			height: 36px;
			width: 36px;
			background-image: url('../img/icon_user_white.png');
			background-color: rgba(255,255,255,0.2);
			background-size: 20px;
			border-radius: 100px;
			margin-right: 1px;
			opacity: 0.1;
			&:hover {
				opacity: 0.6;
			}
		}
	}

	body.logged-in & {
		display: none;
	}
}